

  <% @cart.product_adapters.each do |item| %>
    <div class="well">
      <div class="row">
        <div class="col-sm-8">
          <h3><%= item.product.title %></h3>
        </div>
        <div class="col-sm-4">
          <div class="pull-right">
            <%= form_tag carts_path, :method => :patch  do  %>
              <%= hidden_field_tag :product_id,  item.product.id %>
              <h5>Unit Price:$<%= item.product.price %></h5>
              <h5>Item Total:$<%= item.product.price*item.product_quantity %></h5>
              <div class="form-group">
                <%= number_field_tag :product_quantity, item.product_quantity, min: 1,max: item.product.in_stock, class: 'form-control' %>
              </div>
              <div class="btn-group">
                <%= submit_tag "Update Quantity", class: 'btn btn-primary' %>
                <%= link_to "Delete", carts_path(:product_id => item.product.id), method: :delete,  data: {confirm: "Are you sure?"}, class: 'btn btn-danger'  %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  <div><b>Total:</b><%= number_to_currency @cart.calculate_total %></div>
  <%= link_to "Checkout", orders_path, method: :post,  data: {confirm: "Are you sure?"}, class: 'btn btn-success'  %>







